In [1]:
import pandas as pd 
import warnings as wr 
wr.filterwarnings('ignore')

In [3]:
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
df.Gender = le.fit_transform(df[['Gender']])

In [9]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [11]:
df.tail()

      Gender     Height      Weight
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

# Go Ahead

In [15]:
df.shape

(8555, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   int64
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 200.6 KB

In [17]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [19]:
df.describe()

            Gender       Height       Weight
count  8555.000000  8555.000000  8555.000000
mean      0.584454    66.809925   165.632735
std       0.492845     3.851454    32.043922
min       0.000000    54.616858    65.780000
25%       0.000000    63.957684   139.876803
50%       1.000000    66.985923   168.521567
75%       1.000000    69.604427   190.666305
max       1.000000    80.450000   269.989698

# EDA

# Least Squared Linear Regression

# Regression Problem

# Classification Problem